@use 'variables' as *;

.input-group {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: $button-active;
  color: $text;
  border-radius: 8px;
  margin-bottom: 12px;

  p {
    margin: 0;
  }

  textarea {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    color: $primary;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    border-bottom: 2px solid $gray-500;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  input {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    color: $primary;
    font-weight: bold;
    margin: 0;
    font-size: 18px;
    border-bottom: 2px solid $gray-500;
    padding: 8px;
    transition: 0.3s ease all;

    &:focus {
      outline: none;
      border-bottom: 2px solid $primary;
    }
    &:disabled {
      background: $container-bg;
      color: $gray-700;
      border-bottom: none;
      padding: 5px 5px;
      border-radius: 6px;
    }

    &[type="file"] {
      border-bottom: none !important;
    }
  }

  select {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    color: $primary;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
    width: 100%;
    border-bottom: 2px solid $gray-500;

    &:focus {
      outline: none;
    }
  }
}
