$topbar-h : 60px;
$sidebar-w : 320px;
$sidebar-w-small : 60px;
$navbar-h : 111px;
$navbar-h-small : 85px;

$primary: #38b8b1;
$primary-dark: #2c8c8a;
$secondary: #f2f2f2;
$white: #fff;
$gray-100: #EDEDED;
$gray-200: #DEDEDE;
$gray-400: #797979;
$gray-900: #171717;
$black: #000;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin mq($width) {
    @media (max-width: $width) {
      @content;
    }
  }
  