@use '/src/abstracts/' as *;

.add_plant {
  padding: 0 !important;

  &__header{
    background: linear-gradient(180deg, #565656 0%, $button-active 100%);
    color:white;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 20px;
    border-radius: 8px;

    &__image{
        height: 150px;
        border-radius: 8px;
        aspect-ratio: 1/1;
        background-color: $button-active;
        object-fit: cover;
        object-position: center;
        color:$gray-700;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        @include mq($md){
            height: 100px;
        }
    }

    &__title{
        input{
            font-family: "Poppins", sans-serif;
            background-color: transparent;
            border: none;
            color: white;
            font-weight: bold;
            margin: 0;
            font-size: 30px;
            width: 100%;
            border-bottom: 2px solid $gray-500;

            &.error-input{
              color:rgb(255, 113, 113) !important;
              border-bottom: 2px solid rgb(255, 113, 113);
            }

            &:focus{
                outline: none;
            }
        }

        p{
            margin: 0;
            font-size: 12px;
        }

        .error-msg{
          color: rgb(255, 113, 113);
          font-size: 12px;
        }
    }
  }

  &__body{
    margin-top: 12px;
  }


  &__settings{
    background-color: $button-active;
    border-radius: 8px; 
    margin-bottom: 12px;
  }

  .row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    @include mq($md){
        grid-template-columns: 1fr;
    }
  }

  
}