@import "../../styles/variables.scss";

$font-size: 16px;

.sidebar {
  height: 100%;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease all;
  overflow: hidden;

  &--shrink {
    width: 100%;

    .sidebar__menu {
      gap: 10px;
      &_item {
        padding: 20px 0;
        justify-content: center;

        &__icon {
          margin-right: 0px;
        }
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease all;

    &--shrink {
      margin-bottom: 20px;
    }

    &--wide {
      @include mq($sm) {
        display: none;
      }

      @media screen and (max-height: 720px) {
        display: none;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 20px;

    li {
      width: 100%;

      &.logout {
        margin-top: auto;
      }
    }

    &_item {
      max-width: 100%;
      padding: 16px 24px;
      cursor: pointer;
      text-decoration: none;
      color: #b3b4bd;
      display: flex;
      align-items: center;
      font-size: $font-size;
      line-height: $font-size;
      border-radius: 10px;
      transition: all 0.3s ease;

      &.active {
        color: $primary;
        background-color: #282828;
      }

      &__icon {
        margin-right: 20px;
      }
    }
  }

  &__content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  &__toggle {
    position: absolute;
    top: 20px;
    right: 0px;
    transform: translateX(50%);
    cursor: pointer;
    z-index: 100;
    height: 25px;
    background: white;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    &_icon {
      transform: translateX(-1px);
      transform: translateY(-1px);
    }

    &.rotate {
      transform: translateX(50%) rotate(180deg);
    }

    @include mq($md) {
      display: none;
    }
  }

  .center-svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .d-none {
    opacity: 0;
    visibility: hidden;
  }

  &__mobile{
    position:absolute;
    top:0;
    left:0;
    background-color: #282828;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: all 0.3s ease;

    &.show{
        opacity: 1;
        visibility: visible;
    }

    @media screen and (min-width: $sm) {
        display: none;
    }
    
    &__content{
        padding-top: 60px;
        display: flex;
        flex-direction: column;
    }

    .sidebar__logo--small{
        display: none;
    }
  }
}
