@use '/src/abstracts/' as *;

.topbar_mobile {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: $padding-mobile;

  @media screen and (min-width: $sm) {
    display: none;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
  }

  &__menu {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
