@import './styles/variables.scss';

#App{
    display: grid;
    grid-template-columns: 316px 1fr 330px;
    transition: 0.3s ease all;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &.sidebar-small{
        grid-template-columns: 60px 1fr;
    }

    @include mq($sm){
        grid-template-columns: 1fr !important;
    }
}

#sidebar{
    width: 100%;
    height: 100%;
    padding:12px 6px 12px 12px;
    box-sizing: border-box;

    @include mq($sm){
        display: none;
    }
}

#main{
    width: 100%;
    height: 100%;
    padding: 12px 6px;
    display: grid;
    grid-template-rows: 84px 1fr;
    gap: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    @include mq($sm){
        padding: 0;
    }
}

#chat{
    width: 100%;
    height: 100%;
    padding: 12px 12px 12px 6px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}